@import "../../colors";

@mixin cardItem {
  flex: 0 1 18%;
  border-radius: 4px;
  margin: 30px 15px;
  min-height: 300px;
  cursor: pointer;
}

.homeWrapper {
  padding: 20px 0px;
  width: 90%;
  margin: auto;
  .filterWrapper {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 30px 0;
  }
  .listWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .darkThemeItem {
      background-color: $dark-blue;
      color: $white;
      @include cardItem();
    }
    .item {
      color: $dark-blue-color;
      background-color: $white;
      @include cardItem();
    }
    img {
      width: 100%;
      max-height: 150px;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    .details {
      padding: 20px 20px;
      .name {
        font-weight: 800;
        font-size: 16px;
        margin: 0 0 10px 0;
      }
      .subTitle {
        font-size: 14px;
        font-weight: 600;
      }
      .subName {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
