@import "../../colors";
.searchContainer {
  position: relative;
  width: 30%;

  .search {
    padding: 18px 10px;
    border: 0;
    width: 100%;
    border-radius: 4px;
    background-color: $white;
    &:focus {
      outline: none;
    }
    input ::-webkit-input-placeholder {
      padding-left: 30px !important;
    }
  }
  .darkBg {
    background-color: $dark-blue;
    color: $white;
  }
  i {
    position: absolute !important;
    top: 5px;
    left: 0;
  }
}
