@import "../../colors";

.container {
  width: 90%;
  padding: 40px 0;
  margin: auto;
  .backButton {
    width: 100px;
    height: 30px;
    border: none;
    background-color: $white;
    box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    &:focus {
      outline: none;
    }
    & span {
      margin-left: 10px;
    }
  }
  .detailsWrapper {
    margin-top: 50px;
    .contentWrapper {
      display: flex;
      justify-content: space-between;
      .image {
        width: 500px;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .details {
        flex: 0 1 50%;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
          color: $dark-blue-color;
          font-size: 20px;
          font-weight: 800;
        }
        .subDetails {
          margin: 20px 0 0 0;
          display: flex;
          justify-content: space-between;
        }
        .subTitle {
          color: $dark-blue-color;
          font-weight: 600;
          font-size: 14px;
          margin: 5px 0;
          display: inline-block;
        }
        .value {
          font-size: 14px;
          color: $dark-blue-color;
          font-weight: 300;
          margin-left: 10px;
        }
        .borders {
          display: flex;
          .borderCountries {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 70%;
            margin-left: 20px;
            .borderCountry {
              background-color: $white;
              box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
              border-radius: 4px;
              width: 80px;
              height: 27px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 5px;
              font-size: 14px;
              font-weight: 300;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
